<p>Elija una pregunta:</p>
<center><table>
  <% var i; for (i=0; i < quizes.length; i++) { %>
    <tr><td><%= i+1 %> - <a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
  <% } %>
</table></center>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>

