<label for="user" class="rem">Usuario:</label>
<p><input type="text" id="usuario" name="user[username]" value="<%= user.username %>"/></p>
<label for="pass" class="rem">Contraseña:</label>
<p><input type="text" id="pass" name="user[password]" value="<%= user.password %>"/></p>
<a href="/users"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">